<section ng-controller="AdminCtrl" ng-init="init()">
  <div class="row" ng-hide="showForms.editMember">
    <div class="col-md-7">
      <legend>New member</legend>
      <form name="newMemberForm" class="form-horizontal" style="margin-bottom: 50px;" ng-submit="createNewMember()" novalidate>
        <div class="form-group">
          <label for="name" class="col-sm-3 control-label">Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="name" placeholder="Enter name"
              ng-model="newMember.name" required>
            <p ng-show="newMemberForm.name.$error.minlength" class="help-block">Name is required</p>
          </div>
        </div>

        <div class="form-group">
          <label for="uniqueId" class="col-sm-3 control-label">Unique ID</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="uniqueId" placeholder="Enter Unique ID"
              ng-model="newMember.uniqueId" required>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="email" placeholder="Enter email"
              ng-model="newMember.email" required>
            <p ng-show="newMemberForm.email.$error.email" class="help-block">Email is required</p>
          </div>
        </div>

        <div class="form-group">
          <label for="phone" class="col-sm-3 control-label">Phone</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="phone" placeholder="Enter phone"
              ng-model="newMember.phone" required>
          </div>
        </div>

        <div class="form-group">
          <label for="membership" class="col-sm-3 control-label">Membership</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="year" placeholder="Year"
              ng-model="newMember.year">
          </div>
          <div class="col-sm-3">
            <select name="month" ng-model="newMember.month">
              <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
         <div class="col-sm-offset-3 col-sm-3">
            <div class="checkbox">
              <label>
                <input name="fullMonth" ng-model="newMember.fullMonth" type="checkbox"> Full month
              </label>
            </div>
          </div>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="terms" placeholder="Terms"
              ng-if="!newMember.fullMonth" ng-model="newMember.terms" value="0">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary" ng-disabled="newMemberForm.$invalid">Create</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" ng-hide="showForms.editMember">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Join date</th>
            <th>Membership</th>
            <th style="text-align: center;">Edit</th>
            <th style="text-align: center;">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users">
            <td><a href="#" ng-click="showEditForm(user)">{{ user.unique_id }}</a></td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.register_date | date:'dd.MM.yyyy' }}</td>
            <td></td>
            <td style="text-align: center;">
              <a href="#" ng-click="editMember(user)"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
            <td style="text-align: center;">
              <a href="#" ng-click="deleteMember(user)"><span class="glyphicon glyphicon-remove"></span></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-7" ng-show="showForms.editMember">
      <form name="editMemberForm" class="form-horizontal" style="margin-bottom: 50px;" ng-submit="updateMember()" novalidate>
        <div class="form-group">
          <label for="name" class="col-sm-3 control-label">Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="name" placeholder="Enter name"
              ng-model="editMember.name" required>
            <p ng-show="editMemberForm.name.$error.minlength" class="help-block">Name is required</p>
          </div>
        </div>

        <div class="form-group">
          <label for="uniqueId" class="col-sm-3 control-label">Unique ID</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="uniqueId" placeholder="Enter Unique ID"
              ng-model="editMember.uniqueId" required>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="email" placeholder="Enter email"
              ng-model="editMember.email" required>
            <p ng-show="editMemberForm.email.$error.email" class="help-block">Email is required</p>
          </div>
        </div>

        <div class="form-group">
          <label for="phone" class="col-sm-3 control-label">Phone</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="phone" placeholder="Enter phone"
              ng-model="editMember.phone" required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary" ng-disabled="editMemberForm.$invalid">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
