// Main styles
.navbar {
  margin-bottom: 0;
}

#content {
  padding: 20px 0;
}

.find-member {
  padding-bottom: 20px;
}

.membership-list {
  height: auto;
  max-height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: max-height .3s linear;

  li {
    padding: 3px 0;
    border-top: 1px solid #e0e0e0;

    &:first-child {
      margin-top: 7px;
    }
  }

  &.active {
    max-height: 200px;
  }
}
