.navbar {
  margin-bottom: 0; }

#content {
  padding: 20px 0; }

.find-member {
  padding-bottom: 20px; }

.membership-list {
  height: auto;
  max-height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: max-height 0.3s linear; }
  .membership-list li:first-child {
    margin-top: 10px; }
  .membership-list.active {
    max-height: 200px; }
